* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

button {
    width: 6vw;
    margin-left: 6px;
}

.container {
    background-color: rgb(225, 236, 255);
    margin: 15px 0px 15px 10px;
    width: 18vw;
    border-radius: 15px 15px 15px 0px;
}

h2 {
    letter-spacing: 2px;
    font-size: 14px;
    padding: 5px 5px 5px 15px;
    width: 18vw;
    background-color: rgba(255, 255, 255, 0.421);
    border-radius: 15px 15px 0px 0px;
}
p {
    font-size: 12px;
    padding: 10px 15px;
}